config

    authority

        router   {{ customer }}-site{{ site_no }}
            name                  {{ customer }}-site{{ site_no }}
{%- if location_description %}
            location              {{ location_description }}
{%- endif %}
{%- if location_coordinates %}
            location-coordinates  {{ location_coordinates }}
{%- endif %}
            inter-node-security   internal

            node                  node1
                name              node1
                role              combo

                device-interface  WAN
                    name               WAN
                    pci-address        0000:00:01.0

                    network-interface  WAN
                        name                   WAN

                        neighborhood           {{ customer }}-wan
                            name      {{ customer }}-wan
                            topology  mesh
                        exit
                        inter-router-security  internal
                        dhcp                   v4
                    exit
                exit

                device-interface  LAN
                    name               LAN
                    pci-address        0000:00:02.0

                    network-interface  LAN
                        name     LAN
                        tenant   {{ customer }}

                        address  {{ lan_router_address }}
                            ip-address     {{ lan_router_address }}
                            prefix-length  {{ lan_prefix }}
                        exit
                    exit
                exit
            exit

            service-route         {{ customer }}-site{{ site_no }}-lan
                name          {{ customer }}-site{{ site_no }}-lan
                service-name  {{ customer }}-site{{ site_no }}-lan

                next-hop      node1 LAN
                    node-name  node1
                    interface  LAN
                exit
            exit
        exit

        tenant   {{ customer }}
            name  {{ customer }}
        exit

        service  {{ customer }}-site{{ site_no }}-lan
            name           {{ customer }}-site{{ site_no }}-lan
            security       internal
            address        {{ lan_network_address }}/{{ lan_prefix }}

            access-policy  {{ customer }}
                source  {{ customer }}
            exit
        exit
    exit
exit
