{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Hyper-128T{% else %}Hyper-128T{% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category|replace('message','success') }}"> {{ message }} </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
