{% extends "base_nav.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% set _form_type = form_type or 'horizontal' %}
{% set _action = action or '' %}
{% block app_content %}
    <div class="jumbotron" style="background: #fcfcfc">
        <h3>{{ title }}</h3>
        <hr />
        <div>
            {{ wtf.quick_form(form, form_type=_form_type, action=_action,
                    button_map={"submit": "primary",
                                "create": "primary",
                                "update": "primary",
                                "create_deploy": "success",
                                "deploy": "success",
                                "commit": "success",
                                "delete": "danger"
            }) }}
        </div>
        {% if text_config %}
        <div class="panel panel-default" style="margin-top: 3em">
            <div class="panel-heading">
                <div style="overflow-y: hidden">
                    <div style="float: left">
                        <strong class="panel-title">
                            128T config preview
                        </strong>
                    </div>
                    <div style="float: right">
                        <a role="button" data-toggle="collapse" href="#collapse" style="clear:both;">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div id="collapse" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
                <pre style="background: white; border: 0"><code>{{ text_config | safe }}</code></pre>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
