{% extends "base_nav.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="jumbotron" style="background: #fcfcfc">
        <h3>{{ title }}</h3>
        <hr />
        {% if num_objects > 0 %}
            <div>
                <p>Should these deleted objects removed from the data backend?</p>
                {% for category, objects in deleted_objects.items() %}
                    {% if objects|length > 0 %}
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ category }}</h3>
                        </div>
                        <ul class="list-group">
                            {% for object in objects %}
                                <li class="list-group-item">{{ object.__list_name__() }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div>
                {{ wtf.quick_form(form, form_type=_form_type,
                        button_map={"purge": "danger"}) }}
            </div>
        {% else %}
            <p>There are no deleted objects that can be purged.</p>
        {% endif %}
    </div>
{% endblock %}
